*{
    margin: 0;
}

.container-01{
    background-color: skyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.container-02{
    background-color: burlywood;
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 15px;
    border: 3px solid orange;
    border-radius: 7px;
}

p{
    display: inline;
}